@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    background-color: #212121;
    overflow-y: auto;
    overflow-x: hidden;
}

.search {
    background-color: #2F2F2F;
    display: flex;
    width: 50rem;
    border-radius: 2rem;
    max-width: calc(100vw - 3rem);
}

.sticky-search {
    position: sticky;
    top: 0rem;
}

.search-container {
    background-color: #212121;
    padding-top: 1rem;
}

.search-icon {
    height: 1.75rem;
    padding: 1rem 0 0 1.25rem;
    user-select: none;
}

.search-input {
    flex: 1;
    padding: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.25rem;
    background-color: transparent;
    resize: none;
    overflow-y: auto;
    line-height: 1.5; 
    height: auto;
    min-height: calc(1.5em * 1);
    max-height: calc(1.5em * 5); 
    box-sizing: border-box;
    border: none;
    transition: outline 0.1s ease;
    outline: 2px solid transparent;
    color: white;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    transition: height 0.3s ease-out;
    overflow-y: hidden;
}

.search-input-scroll {
    overflow-y: auto;
}

.search-input::-webkit-scrollbar {
    display: none;
}

.search-input::placeholder {
    color: white;
}

/*
textarea:focus {
   outline: 2px solid #2F2F2F;
}*/

.center-vertically {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-hook {
    margin-top: 8rem;
    margin-bottom: 2rem;
    color: #CFCFCF;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

.boxed-text {
    background-color: #b6e9e9;
    padding: 0 5px;
    display: inline-block;
    margin-left: 5px; 
    color: #212121;
    transform: rotate(-2deg);
    margin-left: 0.75rem;
}  

.highlight-text {
    display: inline-block;
    transform: rotate(2deg);
}

.landing-description {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #aaa;
    font-size: 1.25rem;
    width: 45rem;
    text-align: center;
    margin-bottom: 4rem;
}

.search-button {
    height: 2.75rem;
    padding: 0 1rem;
    border-radius: 1.375rem;
    margin: 0.5625rem 0.5625rem 0 0;
    background-color: #676767;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button img {
    height: 1.5rem;
    user-select: none;
}

.search-button p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    margin-left: 0.25rem;
    user-select: none;
}

.search-button-enabled {
    background-color: #b6e9e9;
}

.search-button-enabled p {
    color: #212121;
}

.search-button-enabled img {
    filter: invert(100%) sepia(5%) saturate(4321%) hue-rotate(315deg) brightness(93%) contrast(74%);
}

.landing-top {
    background-color: red;
    width: 100%;
    position: relative;
}

.topbar {
    top: 0;
    left: 0;
    position: sticky;
    padding: 1rem;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo-text {
    font-family: "Figtree", sans-serif;
    font-size: 2rem;
    color: #eee;
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    margin-bottom: 0.25rem;
    
}

.signup-button {
    color: #212121;
    font-family: "Figtree", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #b6e9e9;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    outline: 2px solid transparent;
    transition: outline ease 0.25s;
    line-height: 1.5rem;
    white-space: nowrap;
}

.signup-button:hover {
    outline: 2px solid #b6e9e9;
}

.logo-text-highlight {
    font-weight: 600;
}

.get-started-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 3rem;
    width: 47.5rem;
}

.get-started-container img {
    width: 5rem;
    user-select: none;
}

.asterisk {
    color: #b6e9e9;
}

.get-started-container p {
    color: #c2eaea;
    font-family: "Figtree", sans-serif;
    font-size: 1.75rem;
    margin-right: 0rem;
    font-weight: 500;
}

/*
.logo-hide {
    display: none;
}
*/

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 80rem) {
    .search {
       
    }
}



@media (max-width: 37.5rem) {

    .landing-hook {
        font-size: 2.125rem;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .landing-description {
        font-size: 1rem;
        width: calc(100vw - 1rem);
    }


    .topbar {
        position: sticky;
        background-color: #212121;
        /*mask-image: linear-gradient(to bottom, #212121 90%, transparent 100%);*/
    }
  

    .topbar::after {
        content: '';
        position: absolute;
        bottom: -20px; 
        left: 0;
        right: 0;
        height: 20px; 
        background: linear-gradient(to top, transparent 0%, #212121 100%);
        z-index: -1; 
    }
    
    .logo-text {
        font-size: 1.5rem;
    }

    .sticky-search {
        position: sticky;
        top: 4.5rem;
        z-index: 1000;
    }

    .search-input {
        font-size: 1rem;
        padding: 1rem 0.75rem;
    }

    .search-button {
        height: 2.25rem;
        padding: 0 0.5rem;
        border-radius: 1.125rem;
        margin: 0.55rem 0.675rem 0 0;
    }

    .search-button p {
        display: none;
    }

    .search-icon {
        height: 1.25rem;
        padding: 1rem 0 0 1.25rem;
        user-select: none;
    }

    .search {
        max-width: calc(100vw - 1.5rem);
    }

    .search-container {
        padding-top: 0;
    }
    
}


/*

.search-input {
    flex: 1;
    padding: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.25rem;
    background-color: transparent;
    resize: none;
    overflow-y: auto;
    line-height: 1.5; 
    height: auto;
    min-height: calc(1.5em * 1);
    max-height: calc(1.5em * 5); 
    box-sizing: border-box;
    border: none;
    transition: outline 0.1s ease;
    outline: 2px solid transparent;
    color: white;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    transition: height 0.3s ease-out;
    overflow-y: hidden;
}

.search {
    background-color: #2F2F2F;
    display: flex;
    width: 50rem;
    border-radius: 2rem;
    max-width: calc(100vw - 3rem);
}

.sticky-search {
    position: sticky;
    top: 0rem;
}

.search-container {
    background-color: #212121;
    padding-top: 1rem;
}

*/